<!-- Partials > Footer. -->
<!-- Site footer. -->
{{ $url := .Permalink }}
{{ $page := .Title }}

<div class="grid">
  <div class="col xs-span l3-11">
    <h2 class="visually-hidden">Other pages</h2>

    <div class="footer__footnotes footnotes">
      {{ range .Site.Menus.main }}
        <a
          class="
            footnotes__footnote footnotes__footnote--{{ .Identifier}}
            {{ if (eq $url .URL) }}is-active{{ end }}
            {{ if and (eq $page "Distances") (eq .Title "Stats") }}is-active{{ end }}
            {{ if and (eq $page "Mountains") (eq .Title "Stats") }}is-active{{ end }}
            {{ if and (in $url "/tags/") (eq .Title "Blog") }}is-active{{ end }}
            {{ if and (in $url "/work/") (eq .Title "Work") }}is-active{{ end }}
          "
          href="{{ .URL }}"
        >
          <h3 class="footnotes__footnote-title text-body-s">{{ .Title }}</h3>

          <p class="text-body-s">
            {{ .Post }}
          </p>
        </a>
      {{ end }}
    </div>
  </div>
</div>
