<!-- Partials > Header. -->
<!-- Header with logo and links. -->
{{ $url := .Permalink }}
{{ $page := .Title }}

<div
  class="
    {{ if (eq .Params.block_type "clients") }}
      header__parent
    {{ end }}
    container
  "
  {{ if (.Params.header_colour) }}
    style="background-color: rgb({{ .Params.header_colour }});"
  {{ end }}
>
  {{ if (eq .Params.block_type "clients") }}
    <div
      class="work__banner-left"
      style="background-color: rgb({{ .Params.header_colour }});"
    ></div>

      <div
      class="work__banner-right"
      style="background-color: rgb({{ .Params.header_colour }});"
    ></div>
  {{ end }}

  <div class="grid">
    <header
      class="header col xs-span l3-11"
      role="banner"
    >
      <div class="header__container">
        <a
          class="skip-link"
          href="{{ .Permalink }}#MainContent"
        >
          Skip to content
        </a>

        {{ if (eq $page "Index") }}
          <h1 class="header__heading">
        {{ end }}

        <a
          class="header__logo text-body-s"
          href="{{ "/" | relURL }}"
        >
          {{ $.Site.Params.siteTitle }}
        </a>

        {{ if (eq $page "Index") }}
          </h1>
        {{ end }}

        <button
          class="header__menu"
          aria-expanded="true"
          js-header="menuButton"
        >
          <span class="burger burger--middle"></span>
          <span class="burger burger--outside"></span>

          <span class="visually-hidden">Menu</span>
        </button>

        <nav
          class="header__navigation"
          role="navigation"
          aria-hidden="false"
          js-header="navigationDrawer"
        >
          <ul class="header__list">
            {{ range .Site.Menus.main }}
              <li
                class="
                  header__list-item
                  header__list-item--{{ .Identifier }}
                "
              >
                <a
                  class="
                    header__link
                    text-body-s
                    {{ if in $url .URL }}
                      is-active
                    {{ end }}
                    {{ if and (in $url "/tags/") (eq .Title "Blog") }}
                      is-active
                    {{ end }}
                  "
                  href="{{ .URL }}"
                  js-header="navigationLink"
                >
                  {{ .Title }}

                  <span class="visually-hidden"> {{ .Post }}</span>
                </a>
              </li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </header>
  </div>
</div>
