/**
 * Components > Article link
 * ------------------------------------------------------------------------------
 * Article standout link.
 *
 */
.article-link {
  $parent: &;
  display: flex;
  flex-direction: column;
  margin-block-end: var(--spacing-m);
  padding: var(--spacing-m);
  position: relative;
  text-decoration: none;

  &::before,
  &::after {
    border-color: var(--color-text-primary);
    border-style: solid;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &::before {
    border-width: 0 0 0 1px;
  }

  &::after {
    border-width: 1px 1px 1px 0;
    opacity: 0.1;
  }

  &__title {
    margin-block-end: var(--spacing-2xs);
  }

  &:hover,
  &:focus {
    background-color: var(--color-blue-hover);

    &::before {
      background-color: var(--color-blue);
      border-left: 0;
      opacity: 1;
      width: 3px;
    }

    &::after {
      opacity: 0;
    }
  }
}
