/**
 * Components > Articles.
 * ------------------------------------------------------------------------------
 * A list of blog articles.
 *
 */
.articles {
  $parent: &;

  &:not(:last-child) {
    margin-block-end: var(--spacing-s);
  }

  &__excerpt {
    position: relative;

    &:not(:last-child) {
      margin-block-end: var(--spacing-s);
    }
  }

  &__meta-title {
    display: inline;
    margin-inline-end: var(--spacing-3xs);
  }

  &__tag {
    &:not(:last-child) {
      margin-inline-end: var(--spacing-2xs);
    }
  }

  /**
   * Homepage.
   */
  &__homepage-link {
    text-decoration: none;

    &:hover {
      #{$parent}__homepage-title {
        text-decoration: none;
      }
    }
  }

  &__homepage-title {
    display: block;
    margin-block-end: var(--spacing-2xs);
    text-decoration: underline;
  }

  &__homepage-excerpt {
    display: block;
  }

  /**
   * Modifiers.
   */
  &#{&}--large {
    &:not(:last-child) {
      margin-block-end: var(--spacing-l);
    }
  }

  &#{&}--small {
    #{$parent}__title {
      margin-block-end: var(--spacing-2xs);
    }
  }

  /**
   * Template customisation.
   */
  .template--blog & {
    #{$parent}__meta-title,
    #{$parent}__return-link {
      display: none;
    }
  }
}
