/**
 * Components > Article.
 * ------------------------------------------------------------------------------
 * A single blog article.
 *
 */
.article {
  &__content {
    margin-block-end: var(--spacing-l);

    a:not(.article-link) {
      display: unset;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gutter);
    margin-block-start: var(--spacing-xl);
  }

  &__link {
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-s) var(--spacing-m);
    position: relative;
    text-decoration: none;
    width: 100%;

    &::before,
    &::after {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 1px;
    }

    &::before {
      background-color: var(--color-text-primary);
      width: 1px;
    }

    &::after {
      background-color: var(--color-blue);
      display: none;
      width: 3px;
    }

    &:hover,
    &:focus {
      background-color: var(--color-blue-hover);

      &::after {
        display: block;
      }
    }

    &#{&}--next {
      align-items: flex-end;
      margin-inline-start: auto;
      text-align: right;

      &::before,
      &::after {
        left: inherit;
        right: 0;
      }
    }
  }

  /**
   * Media queries.
   */
  @include mq($from: l) {
    &__navigation {
      flex-direction: row;
      margin-block-start: var(--spacing-3xl);
    }

    &__link {
      &#{&}--next {
        order: 1;
      }

      &#{&}--full {
        width: 100%;
      }
    }
  }
}
