/**
 * Components > Blocks.
 * ------------------------------------------------------------------------------
 * Blocks contain multiple block elements.
 *
 */
.blocks {
  $parent: &;

  &__block:not(:last-child) {
    margin-block-end: var(--spacing-l);
  }

  + #{$parent} {
    margin-block-start: var(--spacing-l);
  }

  @include mq($from: m) {
    &__block:not(:last-child) {
      margin-block-end: var(--spacing-xl);
    }

    + #{$parent} {
      margin-block-start: var(--spacing-xl);
    }
  }

  @include mq($from: l) {
    &.row {
      gap: var(--spacing-m);
    }
  }
}
