/**
 * Components > Block.
 * ------------------------------------------------------------------------------
 * A block is a standardised layout element.
 *
 */
.block {
  $parent: &;
  position: relative;

  &__image-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__meta {
    display: grid;
    gap: var(--spacing-xs);
  }

  &__stats {
    display: grid;
    gap: var(--spacing-2xs);
  }

  &__stat {
    align-items: center;
    display: flex;
    gap: var(--spacing-s);
  }

  &__image {
    height: auto;
    order: 1;
    width: 100%;
  }

  &__logo {
    align-items: center;
    bottom: var(--spacing-s);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: var(--layer-flat);
  }

  &__content {
    border-left: 3px solid var(--color-text-primary);
    // Why isn't inline supported?
    padding-left: var(--spacing-s);

    + #{$parent}__content {
      margin-block-start: var(--spacing-s);
    }
  }

  /**
   * No image customisation.
   */
  &#{&}--no-image {
    #{$parent}__meta-container {
      display: block;
      position: relative;
    }

    #{$parent}__meta {
      padding: 0;
    }
  }

  /**
   * Logo customisation.
   */
  &#{&}--logos {
    &:not(:last-child) {
      margin-block-end: 0;
    }

    #{$parent}__image-container {
      height: 0;
      margin-block-end: 0;
      padding-block-end: 60%;
    }

    #{$parent}__title {
      @include visually-hidden;
    }

    #{$parent}__logo {
      bottom: 0;
      height: 100%;
    }
  }

  /**
   * Clients customisation.
   */
  &#{&}--clients {
    #{$parent}__meta {
      @include visually-hidden;
    }
  }

  /**
   * Mountains customisation.
   */
  &#{&}--mountains {
    #{$parent}__image {
      margin: var(--spacing-m) 0;
    }
  }

  /**
   * a11y.
   */
  .is-tabbable & {
    &#{$parent}--logos #{$parent}__link:focus #{$parent}__image-container,
    &#{$parent}--clients #{$parent}__link:focus #{$parent}__image-container {
      @include focus-ring;
    }
  }

  /**
   * Media queries.
   */
  @include mq($from: l) {
    &__image-container {
      display: block;
    }

    &__meta {
      background-color: var(--color-background);
      left: 0;
      padding-block-end: var(--spacing-l);
      position: absolute;
      top: 0;
      width: 35%;
    }

    &__content {
      left: 35%;
      position: relative;
      width: 65%;
    }

    &#{&}--logos {
      #{$parent}__logo {
        bottom: 0;
        height: 100%;
      }
    }

    &#{&}--mountains {
      #{$parent}__image {
        margin-block-end: var(--spacing-xl);
        margin-block-start: 0;
      }
    }
  }
}
