/**
 * Components > Blocks.
 * ------------------------------------------------------------------------------
 * Blocks contain multiple block elements.
 *
 */
.blocks {
  $parent: &;

  &__block:not(:last-child) {
    margin-block-end: $SPACING_L;
  }

  + #{$parent} {
    margin-block-start: $SPACING_L;
  }

  @include mq($from: medium) {
    &__block:not(:last-child) {
      margin-block-end: $SPACING_XL;
    }

    + #{$parent} {
      margin-block-start: $SPACING_XL;
    }
  }

  @include mq($from: large) {
    &.row {
      gap: $SPACING_M;
    }
  }
}
