/**
 * Components > Blog.
 * ------------------------------------------------------------------------------
 * A list of blog articles.
 *
 */
.blog {
  display: grid;
  gap: var(--spacing-l);

  &__first {
    margin-block-end: var(--spacing-xl);
  }

  &__article {
    display: grid;
    gap: var(--spacing-2xs);
  }

  &__title,
  &__tag {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__excerpt {
    position: relative;
  }

  &__meta-title {
    display: inline;
    margin-inline-end: var(--spacing-3xs);
  }

  &__tag {
    margin-inline: var(--spacing-2xs);
  }

  /**
   * Template customisation.
   */
  .template--blog & {
    &__meta-title,
    &__return-link {
      display: none;
    }
  }
}
