/**
 * Components > Burger.
 * ------------------------------------------------------------------------------
 * The burger menu and its animation.
 *
 */
// stylelint-disable declaration-no-important

.burger,
.burger::before,
.burger::after {
  @include transition(background-color, opacity var(--timing-normal), transform);
  background-color: var(--color-text-primary);
  content: '';
  height: 2px;
  position: absolute;
  transform-origin: 50% 50%;
  width: 28px;

  body:not(.is-open).template--clients & {
    background-color: var(--color-background);
  }

  .template--clients.template--pangaia &,
  .template--clients.template--sofasofa &,
  .template--clients.template--tp-toys &,
  .template--clients.template--ufc & {
    background-color: $COLOR_WHITE;
  }
}

.burger {
  left: 11px;
  top: 50%;
  transform: translateY(-50%);

  &::before {
    left: 0;
    top: 0;
  }

  &::after {
    right: 0;
    top: 0;
  }

  &#{&}--middle {
    background-color: transparent !important;
  }

  &#{&}--outside {
    $distance: 8px;
    background-color: transparent !important;

    &::before {
      transform: translateY(-$distance);
    }

    &::after {
      transform: translateY($distance);
    }
  }

  .is-active & {
    &--middle {
      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &--outside {
      $distance: 14px;

      &::before {
        opacity: 0;
        transform: translateY(-$distance);
      }

      &::after {
        opacity: 0;
        transform: translateY($distance);
      }
    }
  }
}
