/**
 * Base > Button.
 * ------------------------------------------------------------------------------
 * Base styling of button.
 *
 */
.button {
  @include button-reset;
  cursor: pointer;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-baseline);
  text-decoration: none;

  &#{&}--text {
    background: none;
    border: 0;
    color: inherit;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
