/**
 * Components > Card.
 * ------------------------------------------------------------------------------
 * Title card styles.
 *
 */
.card {
  $parent: &;
  margin-block-end: var(--spacing-xl);
  width: 100%;

  &__subtitle {
    @include transition(color);
    color: var(--color-text-primary);
    display: block;
    margin-block-end: var(--spacing-xs);
    text-decoration: none;

    a {
      @include transition(color);
      color: var(--color-text-primary);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    margin-block-end: var(--spacing-l);
    padding-block-end: var(--spacing-m);
    position: relative;

    &::after {
      background-color: var(--color-blue);
      bottom: 0;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      width: 30px;
    }
  }

  &__meta {
    margin-block-start: var(--spacing-l);
  }

  .template--about &,
  .template--stats &,
  .template--content & {
    // Desired margin - text grid gap
    margin-block-end: calc(var(--spacing-xl) - var(--spacing-s));
  }

  /**
   * Colours.
   */
  .template--orange & {
    &__title::after {
      background-color: var(--color-orange);
    }
  }

  .template--purple & {
    &__title::after {
      background-color: var(--color-purple);
    }
  }

  .template--green & {
    &__title::after {
      background-color: var(--color-green);
    }
  }

  .template--red & {
    &__title::after {
      background-color: var(--color-red);
    }
  }

  /**
   * Media queries.
   */
  @include mq($from: l) {
    margin-block-end: var(--spacing-3xl);

    &__copy {
      width: 68%;
    }

    .template--about &,
    .template--stats & {
      // Desired margin - text grid gap
      margin-block-end: calc(var(--spacing-3xl) - var(--spacing-s));
    }
  }
}
