/**
 * Componeont > Chart.
 * ------------------------------------------------------------------------------
 * Chart blocks.
 *
 */
.chart {
  &:not(:last-child) {
    margin-block-end: var(--spacing-3xl);
  }

  &__title {
    margin-block-end: var(--spacing-l);
  }

  &__chart {
    height: 0;
    max-width: 100%;
    padding-block-end: 47%;
    position: relative;
    width: 100%;
  }

  &__details {
    margin-block-start: var(--spacing-m);
  }

  @include mq($from: l) {
    &:not(:last-child) {
      margin-block-end: var(--spacing-5xl);
    }

    &__chart {
      padding-block-end: 49%;
    }

    &__details {
      margin-block-start: var(--spacing-l);
      width: 68%;
    }
  }
}
