/**
 * Components > Entry
 * ------------------------------------------------------------------------------
 * An entry is an accordion with text and its title in the distances template.
 *
 */
.entry {
  $parent: &;

  &::before {
    @include transition(background-color, border-color);
    background-color: var(--color-text-primary);
    border: 3px solid var(--color-background);
    border-radius: 100%;
    content: '';
    height: 16px;
    // Margin - centre dot over timeline
    left: calc((var(--spacing-m) * -1) - 13px);
    position: absolute;
    top: 4px;
    transform: translateX(3px);
    width: 16px;
    z-index: var(--layer-raised);
  }

  &::after {
    @include transition(background-color);
    background-color: var(--color-text-primary);
    content: '';
    height: 2px;
    left: calc(var(--spacing-2xs) * -1);
    position: absolute;
    top: 11px;
    translate: -100% 0;
    width: 7px;
    z-index: var(--layer-flat);
  }

  &__content {
    display: grid;
    gap: var(--spacing-xs);
    padding-block-start: var(--spacing-3xs);

    p {
      font-size: var(--font-size-s);
    }
  }

  &__link a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
