/**
 * Components > Entry
 * ------------------------------------------------------------------------------
 * An entry is an accordion with text and its title in the distances template.
 *
 */
.entry {
  $parent: &;

  &::before {
    @include transition(background-color, border-color);
    background-color: var(--color-text-primary);
    border: 3px solid var(--color-background);
    border-radius: 100%;
    content: '';
    height: 16px;
    // Margin - centre dot over timeline
    left: calc(-#{var(--spacing-s)} - 13px);
    position: absolute;
    top: 4px;
    transform: translateX(3px);
    width: 16px;
    z-index: var(--layer-raised);
  }

  &::after {
    @include transition(background-color);
    background-color: var(--color-text-primary);
    content: '';
    height: 2px;
    left: -var(--spacing-2xs);
    position: absolute;
    top: 11px;
    transform: translateX(-100%);
    width: 7px;
    z-index: var(--layer-flat);
  }

  &__title {
    &:not(:last-child) {
      margin-block-end: var(--spacing-xs);
    }
  }

  &__content p {
    font-size: 1.4rem;

    &:not(:last-child) {
      margin-block-end: var(--spacing-s);
    }
  }
}
