/**
 * Components > Footnote.
 * ------------------------------------------------------------------------------
 * Individual footnote.
 *
 */
.footnote {
  @include transition(color);
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  height: 60px;
  position: relative;
  text-decoration: none;
  width: 100%;

  &::before,
  &::after {
    background-color: var(--color-text-primary);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }

  &::before {
    @include transition(background-color);
    width: 1px;
  }

  &::after {
    display: none;
    width: 3px;
  }

  &__content {
    padding-inline-start: var(--spacing-s);
  }

  &.is-active,
  &:hover,
  &:focus {
    &::before {
      display: none;
    }

    &::after {
      display: block;
    }

    &.footnote--about {
      background-color: var(--color-orange-hover);

      &::after {
        background-color: var(--color-orange);
      }
    }

    &.footnote--blog {
      background-color: var(--color-blue-hover);

      &::after {
        background-color: var(--color-blue);
      }
    }

    &.footnote--work {
      background-color: var(--color-purple-hover);

      &::after {
        background-color: var(--color-purple);
      }
    }

    &.footnote--stats {
      background-color: var(--color-green-hover);

      &::after {
        background-color: var(--color-green);
      }
    }

    &.footnote--contact {
      background-color: var(--color-red-hover);

      &::after {
        background-color: var(--color-red);
      }
    }
  }

  &.is-hidden {
    display: none;
  }

  &#{&}--home {
    display: none;

    .template-- & {
      display: block;
    }
  }

  @include mq($from: m) {
    height: 80px;
  }
}
