/**
 * Components > Footnotes.
 * ------------------------------------------------------------------------------
 * Individual footnote.
 *
 */
// stylelint-disable max-nesting-depth

.footnotes {
  display: grid;
  gap: var(--layout-gutter);
  grid-template-columns: repeat(2, 1fr);
  margin-block-end: var(--spacing-l);

  &__footnote {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    padding-inline: var(--spacing-m);
    position: relative;
    text-decoration: none;
    width: 100%;

    &::before,
    &::after {
      background-color: var(--color-text-primary);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 1px;
    }

    &::before {
      width: 1px;
    }

    &::after {
      display: none;
      width: 3px;
    }

    &.is-active,
    &:hover,
    &:focus {
      &::before {
        display: none;
      }

      &::after {
        display: block;
      }

      &.footnotes__footnote--about {
        background-color: var(--color-orange-hover);

        &::after {
          background-color: var(--color-orange);
        }
      }

      &.footnotes__footnote--blog {
        background-color: var(--color-blue-hover);

        &::after {
          background-color: var(--color-blue);
        }
      }

      &.footnotes__footnote--work {
        background-color: var(--color-purple-hover);

        &::after {
          background-color: var(--color-purple);
        }
      }

      &.footnotes__footnote--stats {
        background-color: var(--color-green-hover);

        &::after {
          background-color: var(--color-green);
        }
      }

      &.footnotes__footnote--contact {
        background-color: var(--color-red-hover);

        &::after {
          background-color: var(--color-red);
        }
      }
    }

    &.is-hidden {
      display: none;
    }
  }

  &__footnote-title {
    font-weight: var(--font-weight-bold);
  }

  /**
   * Media queries.
   */
  @include mq($from: l) {
    grid-template-columns: repeat(4, 1fr);

    &__footnote {
      height: 80px;
    }
  }
}
