/**
 * Components > Footer.
 * ------------------------------------------------------------------------------
 * Footer partial.
 *
 */
.footer {
  margin-block-start: auto;

  &__footnotes {
    display: grid;
    gap: var(--spacing-s);
    grid-template-columns: repeat(2, 1fr);
    margin-block-end: var(--spacing-m);
  }

  &__base {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-block-end: var(--spacing-s);

    &:not(:last-child) {
      margin-inline-end: var(--spacing-s);
    }
  }

  @include mq($from: m) {
    &__footnotes {
      grid-template-columns: repeat(4, 1fr);
    }

    &__item {
      margin-block-end: var(--spacing-m);

      &:not(:last-child) {
        margin-inline-end: var(--spacing-m);
      }
    }
  }
}
