/**
 * Components > Footer.
 * ------------------------------------------------------------------------------
 * Footer partial.
 *
 */
.footer {
  margin-block-end: var(--spacing-l);
  margin-block-start: auto;

  &__base {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-s);
  }

  &__link {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  /**
   * Media queries.
   */
  @include mq($from: m) {
    &__base {
      gap: var(--spacing-m);
    }
  }
}
