/**
 * Components > Header.
 * ------------------------------------------------------------------------------
 * Header and site navigation.
 *
 */
.header {
  $parent: &;
  margin-block-end: var(--spacing-l);
  padding: var(--spacing-l) 0;
  position: relative;

  &__parent {
    background-color: var(--color-purple);
    position: relative;
  }

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    display: inherit;
  }

  &__logo,
  &__link {
    @include transition(color);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    body:not(.is-open).template--clients & {
      color: var(--color-text-inverse);
    }
  }

  &__logo {
    position: relative;
    z-index: var(--layer-sticky);
  }

  &__menu {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 54px;
    // Negative margin so padding rests on title height instead
    margin: -20px 0;
    position: relative;
    transform: translateX(var(--spacing-s));
    // Force menu button to touch edge of page
    width: calc(50px + #{var(--spacing-s)} - 10px);
    z-index: var(--layer-sticky);
  }

  &__list-item {
    padding: 0;
    position: unset;

    &::before {
      display: none;
    }

    &:not(:last-child) {
      margin: 0;
    }
  }

  &__link.is-active {
    font-weight: var(--font-weight-bold);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .template--clients & {
    margin-block-end: 0;
    padding-block-end: 0;
  }

  /**
   * Navigation is a drawer on mobile devices.
   */
  @include mq($until: l) {
    &__navigation {
      @include transition(background-color, translate);
      align-items: center;
      background-color: var(--color-background);
      display: grid;
      height: 100%;
      padding: calc(var(--border-width-body) + var(--layout-margin));
      position: fixed;
      right: 0;
      top: 0;
      translate: 100% 0;
      width: 100%;
      z-index: var(--layer-navigation);

      &.is-active {
        translate: 0;
      }
    }

    &__list {
      display: grid;
      gap: var(--spacing-l);
    }

    &__link {
      display: block;
      font-size: var(--font-size-2xl);
      text-decoration: none;
    }
  }

  @include mq($from: l) {
    margin-block-end: var(--spacing-2xl);

    &__container {
      align-items: baseline;
    }

    &__skip-link {
      // Aligning skip link with logo link
      padding-block-start: calc(var(--spacing-l) + 4px);
    }

    &__menu {
      display: none;
    }

    &__list {
      display: flex;
      gap: var(--spacing-xl);
    }

    .template--clients & {
      margin-block-end: 0;
      padding-block-end: 0;
    }
  }
}
