/**
 * Component > Icon.
 * ------------------------------------------------------------------------------
 * Base styling of icons.
 *
 */
.icon {
  $parent: &;
  // Icon width + spacing
  padding-inline-start: calc(16px + #{var(--spacing-xs)});
  position: relative;

  &__image {
    @include transition(color);
    color: var(--color-text-primary);
    display: inline-block;
    height: 16px;
    left: 0;
    margin-block-start: -1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
  }

  &__text {
    display: inline-block;
  }
}
