/**
 * Components > Logo.
 * ------------------------------------------------------------------------------
 * Brand specific styles for each logo.
 *
 */
.logo {
  height: auto;
  width: 62%;

  &#{&}--direct-doors {
    width: 85%;
  }

  &#{&}--emma-bridgewater {
    width: 88%;
  }

  &#{&}--hasbro, {
    width: 47%;
  }

  &#{&}--newbie {
    width: 70%;
  }

  &#{&}--pangaia {
    width: 39%;
  }

  &#{&}--paul-valentine {
    width: 33%;
  }

  &#{&}--sofasofa {
    width: 45%;
  }

  &#{&}--sons {
    width: 50%;
  }

  &#{&}--this-works {
    width: 78%;
  }

  &#{&}--tp-toys {
    width: 24%;
  }

  &#{&}--ufc {
    width: 46%;
  }

  /**
   * Parent modifiers.
   */
  .block__logo--clients & {
    color: $COLOR_WHITE;
  }

  /**
   * Media queries.
   */
  @include mq($from: medium) {
    &#{&}--direct-doors {
      width: 82%;
    }

    &#{&}--pangaia {
      width: 25%;
    }

    &#{&}--paul-valentine {
      width: 33%;
    }

    &#{&}--sofasofa {
      width: 30%;
    }

    &#{&}--tp-toys {
      width: 15.5%;
    }

    &#{&}--ufc {
      width: 29%;
    }
  }
}
