/**
 * Components > Update.
 * ------------------------------------------------------------------------------
 * Homepage latest update.
 *
 */
.update {
  display: grid;
  gap: var(--spacing-xs);
  margin-block-start: var(--spacing-3xl);

  &__link {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__excerpt {
    display: block;
  }

  /**
   * Media queries.
   */
  @include mq($from: l) {
    margin-block-start: var(--spacing-7xl);
  }
}
