/**
 * Components > Work list.
 * ------------------------------------------------------------------------------
 * List of work entries.
 *
 */
.work-list {
  display: grid;
  gap: var(--spacing-m);

  &__title {
    display: block;
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-normal);

    span {
      position: relative;
    }

    sup {
      color: var(--color-purple);
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-bold);
    }

    &#{&}--nda span::after {
      background-color: var(--color-black);
      color: var(--color-white);
      content: 'NDA';
      font-size: var(--font-size-xs);
      height: 9px;
      left: 0;
      // stylelint-disable-next-line
      line-height: 10px;
      opacity: 0.9;
      position: absolute;
      text-align: center;
      top: calc(50% - 4px);
      width: 100%;
    }
  }

  &__link {
    line-height: 100%;

    span {
      text-decoration: underline;
    }

    &:hover span {
      text-decoration: none;
    }
  }

  /**
   * Media queries.
   */
  @include mq($from: l) {
    &__title {
      font-size: var(--font-size-5xl);

      sup {
        font-size: var(--font-size-m);
      }

      &#{&}--nda span::after {
        height: 12px;
        // stylelint-disable-next-line
        line-height: 14px;
        top: calc(50% - 6px);
      }
    }
  }
}
