/**
 * Components > Work.
 * ------------------------------------------------------------------------------
 * A single work entry.
 *
 */
.work {
  &__header {
    margin-block-end: $SPACING_M;
    // Site header padding + Site header margin
    padding-block-start: calc(#{$SPACING_S} + #{$SPACING_M});
    position: relative;
  }

  &__header-before,
  &__header-after {
    background-color: $COLOR_PURPLE;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    // Half width - border + one pixel to correct rendering
    width: calc(50vw - #{$SPACING_S} + 1px);
  }

  &__header-before {
    right: calc(50% - 1px);
  }

  &__header-after {
    left: calc(50% - 1px);
  }

  &__title {
    padding-block-end: $SPACING_S;
    position: relative;
    z-index: $LAYER_BASE;

    &::after {
      background-color: $COLOR_BLACK;
      bottom: 0;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      width: 30px;
    }
  }

  /**
   * Media queries.
   */
  @include mq($from: medium) {
    &__header {
      // Site header padding + Site header margin
      padding-block-start: calc(#{$SPACING_M} + #{$SPACING_L});
    }
  }
}
