{{ define "main" }}
  <div class="grid">
    <div class="col xs-span l3-11">
      {{- .Content -}}

      {{ range $index, $element := .Pages.ByPublishDate.Reverse }}
        {{ if (eq $index 0) }}
          <div class="articles articles--large">
            <h2 class="articles__title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>

            <p class="articles__excerpt text-body-m">
              {{ .Params.Excerpt }}
            </p>

            <p class="articles__meta text-body-s">
              {{ partial "article-meta.html" . }}
            </p>
          </div>
        {{ else }}
          <div class="articles articles--small s8">
            <h2 class="articles__title h2-5">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>

            <p class="articles__meta text-body-s">
              {{ partial "article-meta.html" . }}
            </p>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
