{{ define "main" }}
  <div class="grid">
    <div class="col xs-span l3-11">
      {{- .Content -}}

      <div class="blog">
        {{ range $index, $element := .Pages.ByPublishDate.Reverse }}
          {{ if (eq $index 0) }}
            <div class="blog__article blog__first">
              <h2 class="blog__title text-heading-m">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </h2>

              <p class="blog__excerpt text-body-m">
                {{ .Params.Excerpt }}
              </p>

              <p class="blog__meta text-body-s">
                {{ partial "article-meta.html" . }}
              </p>
            </div>

          {{ else }}
            <div class="blog__article">
              <h2 class="blog__title text-heading-s">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </h2>

              <p class="blog__meta text-body-s">
                {{ partial "article-meta.html" . }}
              </p>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
