{{ define "main" }}
  <div class="grid">
    <div class="col xs-span l3-11">
      {{- .Content -}}
    </div>
  </div>

  <div class="grid">
    <div class="col xs-span l2-12">
      <div class="chart">
        <h2 class="chart__title">Distance by foot (miles)</h2>

        <div class="chart__chart">
          <canvas js-chart="walking"></canvas>
        </div>

        <p class="chart__details text-body-s">
          <strong>Note:</strong> Only partial distance data exists for 2009.
        </p>
      </div>

      <div class="chart">
        <h2 class="chart__title">Elevation gain (metres)</h2>

        <div class="chart__chart">
          <canvas js-chart="elevation"></canvas>
        </div>

        <p class="chart__details text-body-s">
          <strong>Note:</strong> No elevation data exists before 2012, no running elevation data exists before 2015, only partial running data exists for 2015, and only partial walking data exists after 2021.
        </p>
      </div>

      <div class="chart">
        <h2 class="chart__title">Total distances (miles)</h2>

        <div class="chart__chart">
          <canvas js-chart="total"></canvas>
        </div>

        <p class="chart__details text-body-s">
          <strong>Note:</strong> Only partial distance data exists for 2009.
        </p>
      </div>

      <!-- Year summaries -->
      <div class="entries">
        <h2 class="entries__title">Year in review</h2>

        <div class="entries__timeline">
          {{ range (.Pages.ByParam "handle").Reverse }}
            <div class="entries__entry entry">
              <div class="entry__content">
                <h3 class="entry__title text-heading-s">{{ .Params.Handle }}</h3>

                {{ .Content }}

                <p class="entry__link">
                  <strong>Data in full:</strong>
                  <a href="https://daytum.com/CraigBaldwin/page/{{ .Params.Page }}">
                    {{ .Params.Handle }}
                  </a>
                </p>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <script src="/vendors/chart.min.js"></script>
{{ end }}
