{{ define "main" }}
  <div class="grid">
    <div class="col xs-span l3-11">
      {{- .Content -}}

      <div class="articles__homepage">
        <h2 class="text-heading-s">Latest update</h2>

        {{ range first 1 ($.Site.GetPage "section" "blog").Pages.ByPublishDate.Reverse }}
          <a
            class="articles__homepage-link text-body-m"
            href="{{ .Permalink }}"
          >
            {{ .Title }}
          </a>

          <p class="articles__homepage-excerpt text-body-s">
            {{ .Params.Excerpt }}
          </p>
        {{ end }}
        </div>
    </div>
  </div>
{{ end }}
