{{ define "main" }}
  <div class="grid">
    <div class="col xs-span l3-11">
      {{- .Content -}}

      <div class="update">
        <h2 class="text-heading-s">Latest update</h2>

        <a
          class="update__link text-body-m"
          href="/work"
        >
          Selected work updated with new entries
        </a>

        <p class="update__excerpt text-body-s">
          Read more about my latest work on the <em>Canvas</em> framework and new client <em>Childsplay Clothing</em>
        </p>

        <!-- {{ range first 1 ($.Site.GetPage "section" "blog").Pages.ByPublishDate.Reverse }}
          <a
            class="update__link text-body-m"
            href="{{ .Permalink }}"
          >
            {{ .Title }}
          </a>

          <p class="update__excerpt text-body-s">
            {{ .Params.Excerpt }}
          </p>
        {{ end }} -->
        </div>
    </div>
  </div>
{{ end }}
