{{ define "main" }}
  <div class="grid">
    <div class="col xs-span l3-11">
      {{- .Content -}}
    </div>
  </div>

  <div class="grid">
    <div class="col xs-span l2-12">
      {{ partial "map" . }}

      <div class="mountains-grid">
        {{ range (.Pages.ByParam "handle").Reverse }}
          {{ partial "block" . }}
        {{ end }}
      </div>
    </div>
  </div>

  <link href="/vendors/leaflet.min.css" rel="stylesheet">
  <script src="/vendors/leaflet.min.js"></script>
{{ end }}
