{{ define "main" }}
  <div class="grid">
    <div class="col xs-span l3-11">
      {{- .Content -}}
    </div>
  </div>

  <div class="grid">
    <div class="work-list col xs-span l3-11">
      {{ range .Pages.ByWeight.Reverse }}
        {{ if and (ne .Params.block_type "mountains") (ne .Params.display false) }}
          {{ if (eq .Params.block_type "clients") }}
            <div class="work-list__title">
              <a
                class="work-list__link"
                href="{{ .Permalink }}"
              >
                <span style="text-decoration-color: rgb({{ .Params.header_colour }}, 0.65);">{{ .Title }}</span>
              </a>

              <sup>({{ .Params.year }})</sup>
            </div>

          {{ else if (eq .Params.block_type "logos") }}
            <div class="work-list__title">
              <span>{{ .Title }}</span> <sup>({{ .Params.year }})</sup>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
