{{ define "main" }}
  <div class="row">
    <div class="content-col">
      {{- .Content -}}
    </div>
  </div>

  <div class="row blocks">
    <h2 class="visually-hidden">Selected</h2>

    {{ range .Pages.ByWeight }}
      {{ if and (eq .Params.block_type "clients") (ne .Params.display false) }}
        <div class="col s4 l5">
          {{ partial "block" . }}
        </div>
      {{ end }}
    {{ end }}
  </div>

  <div class="row blocks">
    <div class="col wide-col">
      <div class="row row--s6 row--m8 row--l8">
        <h2 class="visually-hidden">More</h2>

        {{ range .Pages.ByTitle }}
          {{ if and (eq .Params.block_type "logos") (ne .Params.display false) }}
            <div class="col s2 m2 l2">
              {{ partial "block" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
