{{ define "main" }}
  <div class="row">
    <div class="content-col">
      <div class="row row--m6">
        <div class="card">
          <span class="card__subtitle sub-text">
            Tags >
          </span>

          <h1 class="card__title">{{ .Title }}</h1>
        </div>
      </div>

      {{ range $index, $element := .Pages.ByPublishDate.Reverse }}
        {{ if (eq $index 0) }}
          <div class="articles articles--large">
            <h2 class="articles__title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>

            <p class="articles__excerpt body-1">
              {{ .Params.Excerpt }}
            </p>

            <p class="articles__meta sub-text">
              {{ partial "article-meta.html" . }}
            </p>
          </div>
        {{ else }}
          <div class="articles articles--small">
            <h2 class="articles__title h2-5">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>

            <p class="articles__meta sub-text">
              {{ partial "article-meta.html" . }}
            </p>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
