/**
 * About.
 */
.about ul {
  column-gap: var(--spacing-m);
  columns: 2;
  list-style-position: outside;
  list-style-type: disc;
  padding-inline-start: var(--spacing-m);
}

.contact li {
  padding-inline-start: var(--spacing-xs);
}

@media screen and (min-width: 600px) {
  .about ul {
    columns: 3;
  }
}
