/**
 * Index.
 */
.indexV2 p,
.indexV2 strong,
.indexV2 a {
  font-size: 1.3rem;
  line-height: 1.45;
}

@media screen and (min-width: 768px) {
  .indexV2 p,
  .indexV2 strong,
  .indexV2 a {
    font-size: 1.55rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1024px) {
  .indexV2 p,
  .indexV2 strong,
  .indexV2 a {
    font-size: 1.75rem;
    line-height: 1.4;
  }
}

.indexV2 a {
  text-underline-offset: 0.2rem;
}

.indexV2__about {
  text-decoration-color: var(--color-about);
}

.indexV2__about:hover {
  color: var(--color-about);
}

.indexV2__work {
  text-decoration-color: var(--color-work);
}

.indexV2__work:hover {
  color: var(--color-work);
}

.indexV2__stats {
  text-decoration-color: var(--color-stats);
}

.indexV2__stats:hover {
  color: var(--color-stats);
}
