{{ define "main" }}
  <link
    href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
    rel="stylesheet"
  >

  <div class="grid">
    <div class="col xs-span l3-11">
      <div class="card card--{{ lower $.Page.Title }}">
        <h1 class="card__title">{{ .Params.Title }}</h1>

        <p class="card__copy text-body-l">
          {{ .Params.Excerpt }}
        </p>

        <p class="card__meta text-body-s">
          {{ partial "article-meta.html" . }}
        </p>
      </div>

      <div class="article__content text-grid">
        {{- .Content -}}
      </div>

      <div class="article__navigation">
        {{ with .NextInSection }}
          <a
            class="article__link article__link--next"
            href="{{ .Permalink }}"
          >
            <span class="text-heading-s">Next article</span>
            <span class="text-body-s">{{ .Title }}</span>
          </a>
        {{ end }}

        {{ with .PrevInSection }}
          <a
            class="article__link"
            href="{{ .Permalink }}"
          >
            <span class="text-heading-s">Previous article</span>
            <span class="text-body-s">{{ .Title }}</span>
          </a>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
