/**
 * Base > Code.
 * ------------------------------------------------------------------------------
 * Styles for code markdown.
 *
 */
.highlight {
  background-color: var(--color-code-black);
  overflow-y: auto;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-blue);
  }

  pre {
    margin: 0;
    padding: var(--spacing-m) var(--spacing-s);
    padding-right: 0;
  }
}

code {
  color: var(--color-text-code);
  display: block;
  font-family: var(--font-family-code);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  min-width: fit-content;
  padding-right: var(--spacing-m);

  &::selection,
  span::selection {
    background-color: var(--color-blue);
    color: var(--color-text-code);
  }

  .ln {
    opacity: 0.3;
    padding-right: var(--spacing-m);
    user-select: none;
  }

  /**
   * Inline code.
   */
  &:not([class]) {
    background-color: var(--color-code-dark-grey-tint);
    border-radius: 3px;
    color: var(--color-red);
    display: inline-block;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    line-height: inherit;
    padding: 0 var(--spacing-2xs);
  }
}

/**
 * HTML.
 */
.language-html {
  // Element
  .nt {
    color: var(--color-code-dark-blue);
  }

  // Chevron
  .p {
    color: var(--color-code-dark-grey);
  }

  // Attribute
  .na, .err {
    color: var(--color-code-light-blue);
  }

  // Value
  .s {
    color: var(--color-code-orange);
  }
}

/**
 * Used for Liquid.
 */
.language-htm {
  color: var(--color-code-light-blue);

  .start, .end {
    color: var(--color-code-light-yellow);
  }

  .percent {
    color: var(--color-code-dark-grey);
  }

  .set {
    color: var(--color-code-dark-blue);
  }

  // Operators (=, |, > etc.)
  .p {
    color: var(--color-code-white);
  }

  // Filters, objects, sub-objects
  .fo, .so {
    color: var(--color-code-light-green);
  }

  .string {
    color: var(--color-code-orange);
  }
}

/**
 * CSS.
 */
.language-css {
  // Comments
  .c {
    color: var(--color-code-dark-green);
  }

  // Properties
  .k, .k + .o, .o + .kc {
    color: var(--color-code-light-blue);
  }

  // Class
  .nc, .nt, {
    color: var(--color-code-dark-yellow);
  }

  // Punctuation
  .p {
    color: var(--color-code-white);
  }

  // Value
  .kt, .mf {
    color: var(--color-code-light-green);
  }

  // Strings
  .s1, .kc, .n {
    color: var(--color-code-orange);
  }

  // SASS variables
  .p + .err, .err + .n, .o + .err {
    color: var(--color-code-light-blue);
  }
}

/**
 * JS
 */
.language-js {
  // Comments
  .cm {
    color: var(--color-code-dark-green);
  }

  // Functions, boolean, operators
  .kd, .kc, .kr, .operator {
    color: var(--color-code-dark-blue);
  }

  // Selectors
  .nx, .nb {
    color: var(--color-code-light-blue);
  }

  // If, this
  .k {
    color: var(--color-code-purple);
  }

  // Strings
  .s1 {
    color: var(--color-code-orange);
  }

  // Numbers
  .mi, .mf {
    color: var(--color-code-light-green);
  }

  // Function
  .function {
    color: var(--color-code-light-yellow);
  }
}
