/**
 * Base > Grid.
 * ------------------------------------------------------------------------------
 * Layout grid.
 *
 */
@import '~sass-mq';

/**
 * Grid layout.
 */
.row {
  display: grid;
  gap: var(--layout-gutter);
  grid-template-columns: repeat($layout-mobile-columns, minmax(10px, 1fr));

  .s2 {
    grid-column: span 2;
  }

  .content-col,
  .wide-col,
  .s4 {
    grid-column: span 4;
  }

  &#{&}--s6 {
    grid-template-columns: repeat(6, minmax(10px, 1fr));
  }

  @include mq($from: m) {
    grid-template-columns: repeat($layout-tablet-columns, minmax(10px, 1fr));

    .content-col {
      grid-column: 2 / 8;
    }

    .wide-col {
      grid-column: 1 / 9;
    }

    .m3 {
      grid-column: unset;
      grid-column-end: span 3;
    }

    .m6 {
      grid-column: unset;
      grid-column-end: span 6;
    }

    .m8 {
      grid-column: unset;
      grid-column-end: span 8;
    }

    &#{&}--m6 {
      grid-template-columns: repeat(6, minmax(10px, 1fr));
    }

    &#{&}--m8 {
      grid-template-columns: repeat(8, minmax(10px, 1fr));
    }
  }

  @include mq($from: l) {
    grid-template-columns: repeat($layout-desktop-columns, minmax(10px, 1fr));

    .content-col {
      grid-column: 3 / 9;
    }

    .wide-col {
      grid-column: 2 / 10;
    }

    .l2 {
      grid-column: unset;
      grid-column-end: span 2;
    }

    .l5 {
      grid-column: unset;
      grid-column-end: span 5;
    }

    .l5-10 {
      grid-column: 4 / 9;
    }

    &#{&}--l6 {
      grid-template-columns: repeat(6, minmax(10px, 1fr));
    }

    &#{&}--l8 {
      grid-template-columns: repeat(8, minmax(10px, 1fr));
    }
  }
}
