/**
 * Base > Grid.
 * ------------------------------------------------------------------------------
 * Layout grid.
 *
 */
@import '~sass-mq';

/**
 * Grid classes.
 */
.grid {
  display: grid;
  gap: var(--layout-gutter);
  grid-template-columns: repeat($layout-mobile-columns, minmax(10px, 1fr));

  @include mq($from: m) {
    grid-template-columns: repeat($layout-tablet-columns, minmax(10px, 1fr));
  }

  @include mq($from: l) {
    grid-template-columns: repeat($layout-desktop-columns, minmax(10px, 1fr));
  }
}

/**
 * Column classes.
 */
.grid > .col {
  &.xs-span {
    grid-column: span $layout-mobile-columns;
  }

  @include mq($from: l) {
    &.xs-span {
      grid-column: span $layout-desktop-columns;
    }

    &.l3-11 {
      grid-column: 3 / 11;
    }
  }
}
