/**
 * Base > Layout.
 * ------------------------------------------------------------------------------
 * Determines base styles.
 *
 */
body {
  background-color: var(--color-background);
  border: var(--border-width-body) solid var(--color-border);
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/**
 * Selection.
 */
::selection {
  background-color: var(--color-text-primary);
  color: var(--color-text-inverse);
}

// stylelint-disable-next-line
::-moz-selection {
  background-color: var(--color-text-primary);
  color: var(--color-text-inverse);
}

/**
 * Template borders.
 */
.template {
  &__border-left,
  &__border-right {
    background-color: var(--color-border);
    height: 100vh;
    position: absolute;
    top: 0;
    width: var(--border-width-body);
    z-index: var(--layer-flat);
  }

  &__border-left {
    left: 0;
  }

  &__border-right {
    right: 0;
  }
}

.container {
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0 var(--layout-margin);
  width: 100%;
}

.main {
  margin-block-end: var(--spacing-4xl);

  @include mq($from: l) {
    margin-block-end: var(--spacing-7xl);
  }
}
