/**
 * Base > Layout.
 * ------------------------------------------------------------------------------
 * Determines base layout styling.
 *
 */
html {
  @include transition(background-color);
  background-color: $COLOR_WHITE;
  overflow-x: hidden;

  &.is-dark {
    background-color: $COLOR_BLACK;
  }

  &.no-transition {
    transition: none;
  }
}

/**
 * Selection.
 */
::selection {
  @include transition(background-color, color);
  background-color: $COLOR_BLACK;
  color: $COLOR_WHITE;
}

// stylelint-disable-next-line
::-moz-selection {
  @include transition(background-color, color);
  background-color: $COLOR_BLACK;
  color: $COLOR_WHITE;
}

.is-dark {
  ::selection {
    background-color: $COLOR_DARK_MODE_WHITE;
    color: $COLOR_BLACK;
  }

  // stylelint-disable-next-line
  ::-moz-selection {
    background-color: $COLOR_DARK_MODE_WHITE;
    color: $COLOR_BLACK;
  }
}

/**
 * Body layout.
 */
.template {
  @include transition(background-color, color);
  background-color: $COLOR_BACKGROUND;
  color: $COLOR_BLACK;
  display: flex;
  flex-direction: column;
  margin: $SPACING_S;
  min-height: calc(100vh - (2 * #{$SPACING_S}));

  &__border-left,
  &__border-right {
    background-color: $COLOR_WHITE;
    height: 100vh;
    position: absolute;
    top: 0;
    width: $SPACING_S;
    z-index: $LAYER_BASE;
  }

  &__border-left {
    left: 0;
  }

  &__border-right {
    right: 0;
  }

  .is-dark & {
    background-color: $COLOR_DARK_MODE_BACKGROUND;
    color: $COLOR_DARK_MODE_WHITE;
  }
}

.container {
  margin: 0 auto;
  max-width: $SITE_WIDTH;
  padding: 0 $SPACING_S;
  width: 100%;
}

.main {
  margin-bottom: $SPACING_L;

  @include mq($from: medium) {
    margin-bottom: $SPACING_2XL;
  }
}
