/**
 * Base > Typography.
 * ------------------------------------------------------------------------------
 * All typography styles.
 *
 */
// stylelint-disable unit-blacklist

/**
 * Font.
 */
$FONT: 'Eczar', serif;

/**
 * Line height.
 */
$LINE_HEIGHT_S: 1;
$LINE_HEIGHT_M: 1.35;
$LINE_HEIGHT_L: 1.5;

/**
 * Font weight.
 */
$WEIGHT_REGULAR: 400;
$WEIGHT_BOLD: 700;

:root {
  font-size: 62.5%;
}

/**
 * Font face.
 */
@import url('https://fonts.googleapis.com/css?family=Eczar:400,700&display=swap');

/**
 * Element styling.
 * - Type colours are not set here because they weren't transitioning.
 */
body {
  font-family: $FONT;
  font-size: 1.4rem;
  font-weight: $WEIGHT_REGULAR;
  line-height: $LINE_HEIGHT_S;
}

/**
 * Headings.
 */
h1, .h1, h2, .h2, h3, .h3 {
  font-weight: $WEIGHT_BOLD;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2,
%h2 {
  font-size: 2rem;
  line-height: $LINE_HEIGHT_M;
  margin-bottom: $SPACING_2XS;
}

.h2-5 {
  font-size: 1.8rem;
}

h3,
.h3 {
  font-size: 1.4rem;
  line-height: $LINE_HEIGHT_M;
}

/**
 * Text.
 */
p, .body-1 {
  font-size: 1.8rem;
  line-height: $LINE_HEIGHT_L;

  &:not(:last-child) {
    margin-bottom: $SPACING_P;
  }

  + h2 {
    margin-top: $SPACING_M;
  }

  + .body-2 {
    margin-top: -$SPACING_2XS;
  }
}

.body-2 {
  font-size: 1.4rem;
}

strong {
  font-weight: $WEIGHT_BOLD;
}

blockquote {
  background-color: rgba($COLOR_BLUE, 0.1);
  border-left: 3px solid $COLOR_BLUE;
  padding: $SPACING_M;

  &:not(:last-child) {
    margin-bottom: $SPACING_P;
  }

  strong {
    display: block;
    font-size: 1.6rem;
  }

  p {
    font-size: 1.6rem;
  }
}

.standfirst {
  font-size: 2rem;
  line-height: $LINE_HEIGHT_M;
}

.navigation {
  @extend %text-link;
  font-size: 1.4rem;
  line-height: $LINE_HEIGHT_S;
}

.sub-text {
  font-size: 1.4rem;
}

.button {
  cursor: pointer;
  font-family: $FONT;
  font-weight: $WEIGHT_REGULAR;
  line-height: $LINE_HEIGHT_S;
  text-decoration: none;

  &#{&}--text {
    background: none;
    border: 0;
    color: inherit;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

/**
 * Lists
 */
ul, ol {
  counter-reset: list;
  font-size: 1.8rem;
  line-height: $LINE_HEIGHT_L;

  main & {
    &:not(:last-child) {
      margin-bottom: $SPACING_P;
    }
  }
}

main {
  li {
    padding-left: $SPACING_S;
    position: relative;

    &:not(:last-child) {
      margin-bottom: $SPACING_XS;
    }
  }

  ul li::before,
  ol li::before {
    display: inline-block;
    left: 0;
    position: absolute;
  }

  ul li::before {
    background-color: $COLOR_BLUE;
    content: '';
    height: 0.35em;
    top: 0.5em;
    transform: rotate(45deg);
    width: 0.35em;
  }

  ol li::before {
    color: $COLOR_BLUE;
    content: counter(list) '.';
    counter-increment: list;
    top: 0;
  }
}

/**
 * Helpers.
 */
.text-link,
%text-link,
h2 > a,
h3 > a,
p > a,
li > a,
strong > a {
  color: currentColor;
  display: inline-block;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}
