/**
 * Base > Typography.
 * ------------------------------------------------------------------------------
 * All typography styles.
 *
 */
// stylelint-disable unit-blacklist

@import url('https://fonts.googleapis.com/css?family=Eczar:400,700&display=swap');

html, body {
  color: var(--color-text-primary);
  font-family: var(--font-family-body);
  font-size: var(--scale-base);
  font-weight: var(--font-weight-baseline);
  line-height: var(--line-height-m);

  a {
    color: var(--color-text-primary);
    text-decoration: none;
  }
}

/**
 * Heading classes.
 */
// h1
.text-heading-xl {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}

h2, .text-heading-l {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.text-heading-m {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}

// h3
.text-heading-s {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

/**
 * Text classes.
 */
// Standfirst
.text-body-l {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-regular);
}

// Body 1
p, .text-body-m {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-l);
}

// Body 2
.text-body-s {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
}

.text-body-xs {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
}

/**
 * Strong.
 */
strong {
  font-weight: var(--font-weight-bold);
}

/**
 * Blockquote.
 */
blockquote {
  background-color: var(--color-blue-tint);
  border-left: 3px solid var(--color-blue);
  padding: var(--spacing-m);

  &:not(:last-child) {
    margin-block-end: var(--spacing-l);
  }

  strong {
    display: block;
  }
}

/**
 * Lists
 */
ul, ol {
  counter-reset: list;
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);

  li {
    padding-left: var(--spacing-m);
    position: relative;

    &::before {
      display: inline-block;
      left: 0;
      position: absolute;
    }

    &:not(:last-child) {
      margin-bottom: var(--spacing-xs);
    }
  }
}

ul li::before {
  background-color: var(--color-blue);
  content: '';
  height: 0.3em;
  rotate: 45deg;
  top: 0.5em;
  width: 0.3em;
}

ol li::before {
  color: var(--color-blue);
  content: counter(list) '.';
  counter-increment: list;
  top: 0;
}

/**
 * Links.
 */
h2 a,
p a,
li a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
